@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html,

*
{
  margin:0;
  padding:0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 160vh;
  background: linear-gradient(hsl(157, 100%, 54%), hsl(331, 87%, 61%))
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}